.contacts {
    display: flex;
    margin-left: auto;
  }
  
  
.contacts-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
  
.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}
  
.envelope {
  width: 16px;
  height: 12px;
}
  
.smartphone {
  width: 10px;
  height: 16px;
}