.footer {
    padding-top: 60px;
    padding-bottom: 60px;
  
    display: flex;
    background-color: var(--prime-bgc);
    color: var(--primary-white-color);
  }
  
.footer-address {
  margin-right: 70px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}
  
.footer-text {
  margin: 0;
  margin-bottom: 9px;
}
  
.footer-link {
  display: block;
  color: var(--footer-link-color);
  text-decoration: none;
  
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &focus {
    color: var(--accent-color);
  }

  .footer-address &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer-subtitle {
  display: inline-block;
  margin-bottom: 20px;
  
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer-social-item {
  width: 20px;
  height: 20px;
  fill: var(--primary-white-color);
}
  
.footer-list {
  display: flex;
}
  
.footer-item-link {
  background-color: var(--footer-social-bgc);
}
  
.footer-form {
  display: flex;
  position: relative;
}
  
.footer-modal-wrapper {
  margin-left: auto;
}