.hero {
    text-align: center;
    padding: 200px 0px;
  
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    background-size: cover;
  
    background-image: linear-gradient(
        to right,
        var(--hero-overlay),
        var(--hero-overlay)
      ),
      url('../images/hero/hero.jpg');
    background-color: #c4c4c4;
  }
  
.hero-title {
  margin-bottom: 30px;
  height: 120px;
  width: 696px;
  margin-right: auto;
  margin-left: auto;
  
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}