.team-section {
    background-color: var(--second-bgc);
  }
  
.team-list {
    display: flex;
  }
  
.team-subsection {
    background-color: var(--primary-white-color);
    text-align: center;
    padding: 30px 10px;
  }
  
.team-text {
    margin: 0;
    margin-bottom: 16px;
  
    font-size: 16px;
    line-height: 1.87;
  }
  
.team-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
  }
  
.team-title {
    margin-bottom: 50px;
  }
  
.social-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.social-item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}
  
.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 44px;
    height: 44px;
    border-radius: 50%;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
      fill: var(--primary-white-color);
    }
  }
  
.team-social-link {
    fill: var(--primery-icons-color);
  }
  
.social-icons {
    width: 20px;
    height: 20px;
  
    transition:  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
      fill: var(--primary-white-color);
    }
  }
