.item {

    .services-list & {
        position: relative;
        display: block;

        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    .features-list & {
        width: 270px;

        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    .contacts & {
        &:not(:last-child) {
            margin-right: 50px;
        }     
    }

    .site-nav & {
        position: relative;

        &:not(:last-child) {
            margin-right: 50px;  
        }
    }

    .portfolio-filters & {
        &:not(:last-child) {
            margin-right: 8px;
        }
    }

    .portfolio-list & {
        width: 370px;
        border: var(--portfolio-border-item);

        &:not(:nth-child(3n)) {
            margin-right: 30px;
        }

        &:not(:nth-last-child(-n + 3)) {
            margin-bottom: 30px;
        }
    }

    .team-list>&:not(:last-child) {
        margin-right: 30px;
    }

}